
.mini {
    position: fixed;
    top: 76px;
    right: 225px;
    background: #FFF;
    padding: 40px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease 0.2s;
}

.mini.visible {
    padding: 25px;
    opacity: 1;
    visibility: visible;
}

.mini .products {
    font-weight: bold;
    font-size: 14px;
}

.mini p {
    font-size: 11px;
    display: block;
    line-height: 20px;
}

.cart {
    position: relative;
    float: right;
    margin-right: 50px;
    height: 20px;
    line-height: 70px;
    font-size: 28px;
    height: 100%;
    cursor: pointer;
}

.cart span {
    height: 100%;
    float: left;
    margin-right: 20px;
    opacity: 1;
    color: #222228;
    font-size: 18px;
    font-family: "Nunito", sans-serif;
}

.cart span.updateQuantity:before,
.cart span.updateQuantity:after {
    top: 0;
    bottom: 0;
    opacity: 1;
    width: 30px;
    transition: all 0.2s ease, top 0.3s ease 0.4s, bottom 0.3s ease 0.4s;
}

.cart span.update {
    transition: color 0.2s ease 0.6s;
    color: #000;
}

.cart span.update:before {
    top: -30px;
    width: 30px;
    opacity: 1;
    transition: all 0.2s ease, top 0.3s ease 0.4s, bottom 0.3s ease 0.4s;
}

.cart span.update:after {
    top: 30px;
    width: 30px;
    opacity: 1;
    transition: all 0.2s ease, top 0.3s ease 0.4s, bottom 0.3s ease 0.4s;
}

.cart span:before,
.cart span:after {
    content: "";
    position: absolute;
    width: 0px;
    height: 2px;
    background-color: #0b0b0b;
    left: -10px;
    right: 40px;
    top: 2px;
    bottom: 0;
    margin: auto;
}

.container {
    padding: 20px;
    padding-top: 100px;
    text-align: center;
}

.container .product {
    position: relative;
    overflow: hidden;
    width: 200px;
    height: 280px;
    display: inline-block;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.45);
}

.container .product img {
    position: relative;
    transition: all 0.2s ease;
    -webkit-clip-path: polygon(0 100%, 0 0, 100% 0, 100% 70%);
    clip-path: polygon(0 100%, 0 0, 100% 0, 100% 70%);
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}

.container .product img:hover {
    -webkit-clip-path: polygon(0 100%, 0 0, 100% 0, 100% 100%);
    clip-path: polygon(0 100%, 0 0, 100% 0, 100% 100%);
    transform: scale(1.1);
}

.container .product h2 {
    text-align: left;
    color: #222228;
    font-size: 14px;
    font-weight: bold;
}

.container .product .description, .container .product, .container .product, .mini p, .container .product .price {
    margin: 0;
    padding: 0;
}

.container .product .description {
    text-align: left;
    font-size: 9px;
    color: #9E5DC9;
    max-height: 56px;
    overflow: hidden;
}

.container .product .price {
    text-align: right;
    font-size: 18px;
    color: #900C3E;
}

.container .product .btn {
    position: absolute;
    font-size: 11px;
    font-weight: bold;
    float: right;
    padding: 10px;
    border: 2px solid #9E5DC9;
    border-radius: 20px;
    bottom: 10px;
    right: 10px;
    color: #9E5DC9;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.2s ease;
}

.container .product .btn.ok {
    background-color: #9E5DC9;
    color: #900C3E;
}

.container .product .btn.ok:after {
    content: "";
    color: #900C3E;
}

.container .product .btn:hover {
    padding-right: 25px;
}

.container .product .btn:hover:after {
    margin-left: 5px;
}

.container .product .btn:after {
    font-family: "simple-line-icons";
    content: "";
    transition: all 0.2s ease;
    position: absolute;
    color: #9E5DC9;
    margin-left: 30px;
    transition: all 0.2s ease;
}

.container .product .quickview {
    position: absolute;
    bottom: 20px;
    font-size: 11px;
    color: #900C3E;
    cursor: pointer;
}

.container .product .quickview:before {
    font-family: "simple-line-icons";
    content: "";
    margin-right: 3px;
}

.quickviewContainer {
    position: fixed;
    height: 100vh;
    width: 400px;
    background: rgba(0, 0, 0, 0.9);
    top: 70px;
    right: -100%;
    transition: all 0.3s ease;
    padding: 30px;
    color: #fff;
}

.quickviewContainer .close {
    height: 20px;
    width: 20px;
    float: right;
    cursor: pointer;
}

.quickviewContainer .close:before,
.quickviewContainer .close:after {
    content: "";
    position: absolute;
    width: 20px;
    height: 2px;
    background-color: #ffF;
    transform: rotate(45deg);
}

.quickviewContainer .close:after {
    transform: rotate(-45deg);
}

.quickviewContainer .headline {
    margin-bottom: 30px;
    font-size: 18px;
}

.quickviewContainer .description {
    font-size: 12px;
    margin-bottom: 20px;
}

.quickviewContainer img {
    display: inline-block;
    border-radius: 4px;
    margin: 5px;
}

.quickviewContainer.active {
    right: 0;
}