


.container {
    padding: 20px;
    text-align: center; 
}

.container .product {
    position: relative;
    overflow: hidden;
    width: 210px;
    height: 330px;
    display: inline-block;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.45);
}

.container .product img {
    width: 200px;
    height: 150px;
    position: relative;
    transition: all 0.2s ease;
    -webkit-clip-path: polygon(0 100%, 0 0, 100% 0, 100% 0);
    clip-path: polygon(0 100%, 0 0, 100% 0, 100% 0);
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}

.container .product img:hover {
    -webkit-clip-path: polygon(0 100%, 0 0, 100% 0, 100% 100%);
    clip-path: polygon(0 100%, 0 0, 100% 0, 100% 100%);
    transform: scale(1.1);
}

.container .product h2 {
    text-align: left;
    color: #222228;
    font-size: 14px;
    font-weight: bold;
    height: 35px;
}

.container .product .description, .container .product, .container .product, .container .product .price {
    margin: 0;
    padding: 0;
}

.container .product .description {
    text-align: left;
    font-size: 12px;
    color: #9E5DC9;
    height: 34px;
    overflow: hidden;
}

.container .product .price {
    text-align: right;
    font-size: 18px;
    color: #900C3E;
}

.container .product .btn {
    position: absolute;
    font-size: 11px;
    font-weight: bold;
    float: right;
    padding: 10px;
    border: 2px solid #9E5DC9;
    border-radius: 20px;
    bottom: 10px;
    right: 10px;
    color: #9E5DC9;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.2s ease;
}

.container .product .btn.ok {
    background-color: #9E5DC9;
    color: #900C3E;
}

.container .product .btn.ok:after {
    content: "";
    color: #900C3E;
}

.container .product .btn:hover {
    padding-right: 25px;
}

.container .product .btn:hover:after {
    margin-left: 5px;
}

.container .product .btn:after {
    font-family: "simple-line-icons";
    content: "";
    transition: all 0.2s ease;
    position: absolute;
    color: #9E5DC9;
    margin-left: 30px;
    transition: all 0.2s ease;
}

.container .product .quickview {
    position: absolute;
    bottom: 20px;
    font-size: 11px;
    color: #900C3E;
    cursor: pointer;
}

.container .product .quickview:before {
    font-family: "simple-line-icons";
    content: "";
    margin-right: 3px;
}

.quickviewContainer {
    position: fixed;
    height: 100vh;
    width: 400px;
    background: rgba(0, 0, 0, 0.9);
    top: 0;
    right: -100%;
    transition: all 0.3s ease;
    padding: 30px;
    color: #fff;
}

.quickviewContainer .close {
    height: 20px;
    width: 20px;
    float: right;
    cursor: pointer;
}

.quickviewContainer .close:before,
.quickviewContainer .close:after {
    content: "";
    position: absolute;
    width: 20px;
    height: 2px;
    background-color: #ffF;
    transform: rotate(45deg);
}

.quickviewContainer .close:after {
    transform: rotate(-45deg);
}

.quickviewContainer .headline {
    margin-bottom: 30px;
    font-size: 18px;
}

.quickviewContainer .description {
    font-size: 12px;
    margin-bottom: 20px;
}

.quickviewContainer img {
    display: inline-block;
    border-radius: 4px;
    margin: 5px;
}

.quickviewContainer.active {
    right: 0;
}