
.hr2 {
    height: 2px;
    background-color: var(--main-4th);
    border: none;
    margin: 2rem 0;
}

#title4 {
    text-align: center;
    color: var(--main-5th);
    font-size: 2rem;
    margin-top: 2rem;
}

#title3 {
    text-align: center;
    color: var(--main-5th);
    font-size: 1.5rem;
    margin: 2rem auto;
}

.subtitle2 {
    color: var(--main-2nd);
    font-weight: bold;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
}

.content {
    margin-bottom: 2rem;
    color: var(--main-5th);
}