:root {
    --for-heading: #3b026b;
    --main-color: #9E5DC9;
    --color-dark: #ffffff;
    --text-grey: #e31aea;
    --dark-BG: #ffffff;
    --content-BG: #ffffff;
    --dark-text: #b200ff;
    --off-white: #f1f5f9;
    --icon-color: #520293;
    --purple: linear-gradient(45deg, #99013e, #7f02ed);
    --pink: #9E5DC9;
    --orange: linear-gradient(45deg, #9E5DC9);
    --moon: linear-gradient(45deg, #9E5DC9, #900C3E);
    --moon-only: linear-gradient(45deg, #fff, #7f02ed);
    --sun: linear-gradient(45deg, #ffc700, #8300ff);
    --transition: all 100ms;
    --new-content: rgba(255, 255, 255, .5);
    --indicator: rgba(255, 255, 255, .7)
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Lemonada', cursive;
    box-sizing: border-box;
    outline: none;
    user-select: none;
    list-style-type: none;
    text-decoration: none;
    transition: all 100ms;
    overflow-x: hidden;
}

html,
body {
    height: 100%;
}

h4,
h3 {
    color: #9E5DC9;
    text-align: right;
}

.logre {
    font-family: 'Lemonada', cursive;
}

body {
    background: #222228;
    backdrop-filter: blur(10px);

}

.filter-container li {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1rem 1.5rem;
    border-bottom: 1px solid var(--text-grey);
    transition: all 100ms;
    border: 1px solid var(--text-grey);
}

.filter-title {
    margin: 10px 0;
    text-align: center;
    color: var(--pink);
}

.filter-container p {
    margin: 10px 0;
    font-size: 2rem;
    text-align: center;
    color: red;
}

.filter-title:hover {
    color: var(--text-grey);
}

.filter-subtitle {
    margin: 10px 0;
    font-size: 1.5rem;
    text-align: left;
    color: var(--text-grey);
}

.filter-user, .filter-product, .filter-inventario {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    color: var(--text-grey);
}

main {
    grid-area: main;
    padding: 0 1.5rem;
}

header {
    grid-area: header;
    background: var(--new-BG);
    display: flex;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .2);
    position: inherit;
    width: 100%;
    top: 0;
    z-index: 100;
    transition: left 300ms;
}

.show-bg strong, .show-bg p {
    color: white;
}

strong {
    color: white;
}

li {
    color: white;
}

.header-logo {
    width: 80px;
    background-color: var(--pink);
    border-radius: 15px;
}

header h2 {
    color: #fff;
    text-transform: uppercase;
}

header label span {
    font-size: 1.7rem;
    padding-left: 1rem;
}

#dashboard:hover,
#kleenpulse:hover {
    text-transform: uppercase;
    background: linear-gradient(#fff, #9E5DC9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 200%;
    animation: anime 5s linear infinite;
}

.main-wrapper {
    display: grid;
    grid-template-areas:
        "header header"
        "sidebar main"
        "sidebar footer";
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr auto;
    background: rgba(0, 0, 0, .1);
}

.user-wrapper b {
    filter: brightness(150%);
}

.user-wrapper img {
    width: 40px;
    height: 40px;
    background-color: #ffffff;
}

.search {
    position: relative;
    width: 40px;
    height: 60px;
    border-radius: 30px;
    transition: var(--transition);
    box-shadow: 0 0 0 5px rgba(183, 204, 235, 0.378);
    overflow: hidden;
    margin: auto;
}

.search:hover,
.search:active,
.search:focus {
    width: 400px;
}

.search .icon {
    position: relative;
    top: 0;
    left: 0;
    width: 40px;
    height: 60px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.search:hover .search-rotate {
    transform: rotate(100deg);
    position: absolute;

}

.search .icon::before {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 3px solid var(--new-content);
    transform: translate(-4px, -4px);
}

.search .icon::after {
    content: '';
    position: absolute;
    width: 3px;
    height: 12px;
    background: var(--new-content);
    transform: translate(6px, 6px) rotate(315deg);
}

.search .input {
    position: relative;
    width: 300px;
    height: 60px;
    left: 60px;
    transition: var(--transition);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.search .input input {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    border: none;
    font: 600 1.8rem 'Lemonada', cursive;
    background: var(--orange);
    -webkit-text-fill-color: var(--main-color);
    -webkit-background-clip: text;
    background-clip: text;
    outline: none;
    padding-left: 10px;
    color: #fff;
}

.dis-wrap {
    position: absolute;
    top: 5rem;
    display: flex;
    justify-content: center;
    left: 55%;
    z-index: auto;
    background: #000;
    border-radius: 12px;
    padding: 10px;
    animation: fade 1s ease-in infinite;
}

.dis-warn {
    position: absolute;
    top: 5rem;
    display: flex;
    justify-content: center;
    left: 55%;
    z-index: auto;
    background: #000;
    border-radius: 12px;
    padding: 10px;
}

@keyframes fade {
    50% {
        opacity: .2;
    }
}

.display {
    text-transform: uppercase;
    font: 600 2rem 'Lemonada', cursive;
    background: #900C3E;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.search-wrapper {
    border: 1px solid #ccc;
    border-radius: 30px;
    height: 50px;
    display: flex;
    align-items: center;
    overflow-x: hidden;
}

.search-wrapper:focus,
.search-wrapper:hover {
    border: 1px solid var(--icon-color);
}

.search-wrapper input {
    height: 100%;
    padding: .5rem;
    border: none;
    background: transparent;
    color: #fff;
}

input {
    color: #fff;
    font-size: 15px;
}


.search-wrapper span {
    display: inline-block;
    padding: 0rem 1rem;
    font-size: 1.5rem;
    color: #fff;
}

.user-wrapper {
    display: flex;
    align-items: center;
    padding: 0 10px;
}

.user-wrapper img {
    border-radius: 50%;
    margin-right: 1rem;
}

.user-wrapper div h4 {
    color: #fff;

}

.user-wrapper small {
    display: inline-block;
    color: #e0e0e0;
}

.heading {
    margin: auto;
    color: #fff;
}

@property --num {
    syntax: "<integer>";
    initial-value: 0;
    inherits: false;
}

@keyframes anime {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@media only screen and (max-width:1050px) {

    .dis-wrap,
    .dis-warn {
        top: 5.3rem;
        left: 50%;
    }
}

@media only screen and (min-width:768px) {
    header label {
        display: none !important;
    }
}

footer {
    grid-area: footer;
    text-align: center;
}


@media (max-width: 1000px) {
    .footer {
        font-size: 2rem;

    }
}

@media (max-width: 500px) {
    .footer {
        font-size: 8vw;
    }
}

.fa-heart {
    color: #920121;
    animation: pulse 1s linear infinite !important;
}

@keyframes pulse {
    50% {
        transform: scale(0.8);
        color: red;
    }
}


::-webkit-scrollbar {
    width: 5px !important;
}

::-webkit-scrollbar-thumb {
    background: var(--main-color);
    border-radius: 10px;
}

#nav-toggle {
    display: none;
}

#nav-toggle:checked~.main-content header {
    width: calc(100% - 70px);
    left: 70px;
}

@media only screen and (max-width:560px) {

    header {
        padding: 10px 15px;
    }

    #nav-toggle:checked+.sidebar {
        left: 0 !important;
        width: 300px;
        z-index: 200;
        box-shadow: 0 0 10px rgba(0, 0, 0, .4);
    }
}

@media only screen and (max-width:768px) {

    .search {
        display: none;
    }

    header h2 {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-left: 2rem;
    }

    header label {
        border: 1px solid var(--off-white);
        display: flex;
        padding-right: 0rem;
        margin-right: 1rem;
        height: 40px;
        width: 40px;
        border-radius: 50%;
        color: #fff;
        align-items: center;
        justify-content: center !important;
        left: 16px;
    }

    header label span {
        text-align: center;
        padding: 0rem;
    }

    header label:checked span::before {
        display: none;
    }

    header {
        width: 100% !important;
        left: 0 !important;
    }

    #nav-toggle:checked+.sidebar {
        left: 0 !important;
        z-index: 100;
        width: 50%;
        transition: var(--transition);
    }

    #nav-toggle:checked+.sidebar .sidebar-brand,
    #nav-toggle:checked+.sidebar li {
        padding-left: 2rem;
        text-align: left;
        transition: var(--transition);
    }

    #nav-toggle:checked+.sidebar li a {
        padding-left: 1rem;
    }

    #nav-toggle:checked+.sidebar .sidebar-brand h2 span:last-child,
    #nav-toggle:checked+.sidebar li a span:last-child {
        display: inline;
    }

    #nav-toggle:checked~.main-content {
        margin-left: 0 !important;
    }

    header {
        margin-bottom: 0;
    }
}


#nav-toggle:checked+.sidebar {
    width: 110%;
    left: 0;
    z-index: 200;
    background: rgba(0, 0, 0, .2);
    backdrop-filter: blur(6px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .4);
}

#nav-toggle:checked+.sidebar .sidebar-brand,
#nav-toggle:checked+.sidebar li {
    text-align: left;
    margin-bottom: 0;
    padding-left: 1rem;
}

#nav-toggle:checked+.sidebar li a {
    padding-left: 0rem;
}

#nav-toggle:checked~.main-content {
    margin-left: 70px;
}

#nav-toggle:checked+.sidebar .sidebar-brand h2 span:last-child,
#nav-toggle:checked+.sidebar li a span:last-child {
    display: inline;
}

@media only screen and (max-width:768px) {
    div main .cards {
        grid-template-columns: 1fr;
    }

    div main .recent-grid {
        grid-template-columns: 100%;
    }
}

@media only screen and (max-width:1050px) {
    main .cards {
        grid-template-columns: repeat(2, 1fr);
    }

    main .recent-grid {
        grid-template-columns: 1fr;
    }
}

#customer,
#project,
#order,
#income {
    counter-reset: num var(--num);
}

#customer {
    animation: customer 5s forwards ease-in;
}

#project {
    animation: project 10s forwards ease-in-out;
}

#order {
    animation: order 12s forwards ease-in-out;
}

#income {
    display: inline;
    animation: income 15s forwards ease-in;
}

#income,
#customer,
#project,
#order {
    content: counter(num);
    background: var(--moon);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.card-single:hover #income,
.card-single:hover #customer,
.card-single:hover #project,
.card-single:hover #order {
    animation-play-state: paused;
}

.card-header,
.card-body {
    padding: 1rem;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--dark-text);
    text-transform: uppercase;
    transition: var(--transition) !important;
    color: var(--off-white);
}

.card-header .heading {
    color: var(--off-white);
}

.card-header button {
    background: var(--main-color);
    border-radius: 10px;
    color: var(--off-white);
    font-size: .8rem;
    padding: .5rem 1rem;
    border: 1px solid var(--main-color);
}

.card-header button:hover {
    background: transparent;
    color: var(--off-white);
    border: 1px solid #fff;
}

.card-header button:hover span {
    transform: translatex(5px);
}

.card-header button span {
    transform: translatey(2px);
}

.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1.2rem;
    margin-top: 1rem;
    padding: 10px;
    overflow: hidden;
    height: auto;
}

.card-single {
    display: flex;
    justify-content: space-between;
    background: rgba(0, 0, 0, .2);
    backdrop-filter: blur(16px);
    padding: 1.2rem;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, .2);
    overflow: hidden;
    filter: brightness(120%);
    transition: all 400ms;
}

.cards .card-single {
    height: 150px;
}

.card-single:hover {
    transform: scale(1.04);
    border-radius: 25px;
}

.card-single div:last-child span {
    font-size: 3rem;
    background: #9E5DC9;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}


.card-single div:first-child span {
    text-transform: uppercase;
    color: #fff;
}

.card-single:hover,
.card:hover {
    background: rgba(0, 0, 0, 0.564);
}

.card-single:hover h1,
.card-single:hover div:last-child span {
    filter: brightness(140%);
}

.card-single:hover h1,
.card-single:hover div:last-child span {
    filter: brightness(140%);
}

.card:first-child {
    background: rgba(0, 0, 0, .2);
    backdrop-filter: blur(16px);
    border-radius: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ccc;
}

th,
td {
    padding: .5rem;
    text-align: left;
}

th {
    background: #f5f5f5;
}

.form {
    margin-top: 2rem;
}

input,
select,
textarea {
    width: 100%;
    padding: .5rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 1rem;
    color: #333;
}

input[type="submit"] {
    background: #9E5DC9;
    color: #fff;
    padding: .5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background: #7A49A6;
}

a,
td,
label {
    color: #fff;
}

td a {
    color: #9E5DC9;
}

.delete-btn {
    border: none;
    background: none;
    color: red;
    cursor: pointer;
}

.enable-btn {
    border: none;
    background: none;
    color: green;
    cursor: pointer;
}

.show-product {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid #ccc;
    transition: var(--transition);
}

.show-img {
    width: 100px;
    height: 100px;
    object-fit: fill;
    border-radius: 5px;

}