
@keyframes income {
    from {
        --num: 0;
    }

    to {
        --num: 15;
    }
}

@keyframes customer {
    from {
        --num: 0;
    }

    to {
        --num: 39;
    }
}

@keyframes project {
    from {
        --num: 0;
    }

    to {
        --num: 25;
    }
}

@keyframes order {
    from {
        --num: 0;
    }

    to {
        --num: 50;
    }
}

.container {
    display: flex;
    flex-flow: row wrap;
    margin: 30px 20px;
    background: var(--color-dark);
    box-shadow: 0 20px 20px -10px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    padding-bottom: 40px;
}

.container>* {
    display: flex;
    flex: 1 100%;
    padding: 10px 20px;
}

.container .logo {
    justify-content: center;
    align-items: center;
    background: var(--for-heading);
    height: 80px;
    overflow: hidden;
}

.container .logo h1 {
    display: none;
}

.container .logo img {
    width: auto;
    height: 80px;
}

.container .company {
    justify-content: space-between;
    padding: 5px 20px;
    background: #eee;
}

.container .company a {
    text-decoration: none;
    font-size: 0.8rem;
    color: var(--dark-text);
}

.container .invoice-info,
.container .invoice-due,
.container .add-item,
.container .invoice-total {
    flex-flow: column wrap;
    flex: 50%;
}

.container .invoice-info>*,
.container .invoice-due>*,
.container .add-item>*,
.container .invoice-total>* {
    align-items: stretch;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

.container .table {
    flex-flow: column;
}

.container .table .tr {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
}

.container .table .th {
    font-weight: 700;
    background-color: #eee;
    color: var(--dark-text);
    border-top: 1px solid #ddd;
}

.container .table .td {
    display: flex;
    flex-flow: row nowrap;
    flex-grow: 1;
    flex: 4;
    padding: 5px 20px;
    word-break: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    justify-content: center;
    align-items: center;
}

.container .table .td input {
    width: 100%;
    border: none;
    font-size: 1rem;
    color: var(--for-heading);
}

.container .invoice-list .tr {
    border-left: 1px solid #ddd;
}

.container .invoice-list .td {
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

.container .invoice-list .td:first-child {
    flex-grow: 12;
}

.container .invoice-list .td:last-child {
    flex-grow: 1;
}

.container .remove {
    content: "+";
    position: absolute;
    line-height: 1rem;
    width: 24px;
    height: 24px;
    line-height: 24px;
    border-radius: 12px;
    text-align: center;
    background: #1b1443;
    color: var(--text-grey);
    cursor: pointer;
}

.container .add-item>button {
    cursor: pointer;
    font-size: 1rem;
    color: var(--text-grey);
    background: #1b1443;
}