
@keyframes income {
    from {
        --num: 0;
    }

    to {
        --num: 1500;
    }
}

@keyframes customer {
    from {
        --num: 0;
    }

    to {
        --num: 60;
    }
}

@keyframes project {
    from {
        --num: 0;
    }

    to {
        --num: 600;
    }
}

@keyframes order {
    from {
        --num: 0;
    }

    to {
        --num: 100;
    }
}

.highcharts-background {
    fill: rgba(0, 0, 0, .1);
    color: #fff;
}


.highcharts-container {
    fill: #fff;
    color: #fff;
}


@media (max-width: 551px) {
    #highchart_container {
        height: 3000px;
    }
}

@media (min-width: 550px) {
    #highchart_container {
        height: 1400px;
    }
}