.sidebar {
    grid-area: sidebar;
    position: sticky;
    width: 250px;
    background: rgba(0, 0, 0, .2);
    backdrop-filter: blur(6px);
    box-shadow: 5px 0 10px rgba(0, 0, 0, .3);
    z-index: 100;
    top: 0;
    overflow-y: auto;
}

.sidebar-brand {
    display: block;
    text-align: center;
    margin-top: 25px;
}

.sidebar-brand h2 span:last-child,
.sidebar-brand h2 span:first-child {
    filter: brightness(140%);
    background: var(--pink);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.sidebar-title {
    margin-left: 10px;
}

.sidebar-menu li:nth-last-child(2) {
    margin-bottom: 50px;
}

.sidebar-menu a {
    padding-left: 1rem;
    display: block;
    color: var(--off-white);
    font-weight: 500;
    font-size: 1.1rem;
    overflow: hidden;
    padding-top: .7rem;
    padding-bottom: 1rem;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 30px;
}

.sidebar-menu a:hover {
    padding-top: .7rem;
    padding-bottom: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.62);
    border-radius: 30px;
}

.sidebar-menu .active {
    background: var(--icon-color);
    border-radius: 30px;
}

.sidebar-menu a span:first-child {
    font-size: 1.5rem;
}

.sidebar-menu {
    margin-top: 1rem;

}



@media only screen and (max-width: 1200px) {
    .sidebar {
        width: 70px;
    }

    .sidebar .sidebar-brand,
    .sidebar li {
        text-align: center;

    }

    .sidebar li a {
        padding-left: 0rem;
        cursor: pointer;
    }

    .sidebar .sidebar-brand h2 span:last-child,
    .sidebar li a span:last-child {
        display: none;
    }

    .main-content {
        margin-left: 70px;
    }

    .main-content header {
        width: calc(100% - 70px);
        left: 70px;
    }

    .sidebar:hover {
        width: 345px;
        z-index: 200;
        background: rgba(0, 0, 0, .2);
        backdrop-filter: blur(6px);
        box-shadow: 0 0 10px rgba(0, 0, 0, .4);
    }

    .sidebar:hover .sidebar-brand,
    .sidebar:hover li {
        text-align: left;
        margin-bottom: 0;
    }
    .sidebar:hover .sidebar-brand{
        padding-left: 1rem;
    }

    .sidebar:hover li a {
        padding-left: 1rem;
        font-weight: 500;
    }

    .sidebar:hover .sidebar-brand h2 span:last-child,
    .sidebar:hover li a span:last-child {
        display: inline;
    }

    .sidebar:hover .sidebar-brand h2 span:first-child {
        transform: translatey(5px);
    }

    .sidebar-menu a span:first-child {
        transform: none;
    }
}

@media only screen and (max-width:768px) {
    .sidebar {
        left: -100% !important;
        height: 95.7%;
        transition: all 400ms;
        width: 0;
    }
}

@media only screen and (max-width:560px) {
    .sidebar-menu a:active {
        background: #fff;
        color: var(--icon-color);
        padding-top: 1rem;
        padding-bottom: 1rem;
        border-radius: 30px 0 0 30px;
    }
}